// Place all the styles related to the chatEvent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.label-info {
  display: inline !important;
}
#chat {/*the chat window*/
  height: 290px;
}

#chat .accordion-inner > * {
  width: 100%;
  box-sizing: border-box;
}

#chat .accordion-inner > input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

#chatDiv {
  overflow: scroll;
}
